darksky.dat filter=lfs diff=lfs merge=lfs -text
total_u.dat filter=lfs diff=lfs merge=lfs -text
total_g.dat filter=lfs diff=lfs merge=lfs -text
total_r.dat filter=lfs diff=lfs merge=lfs -text
total_i.dat filter=lfs diff=lfs merge=lfs -text
total_z.dat filter=lfs diff=lfs merge=lfs -text
total_y.dat filter=lfs diff=lfs merge=lfs -text
